html, body, h1, h2, h3, h4, ul, ol, li, p, a {
    padding: 0;
    border: 0;
    margin: 0;
}
h1 {
    text-align: center;
    margin: 0 auto;
    padding-top: 150px;
    font-size: 100px;
    font-weight: bold;
    color: white;

}
h2 {
    text-align: center;
    padding-top: 10px;
    color: white;


}
a {
    font-size: 20px;
    text-decoration: none;
    color:white;


}
body{
    background: url(images/background.jpg) center center no-repeat fixed;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}
div {
    display: block;
}
.header {
    background: #002b4e top center no-repeat;
    padding: 15px;
}
.nav {
    text-align: center;
    margin: 10;
    
}
.nav li {
    display: inline;
    padding-right: 20px;
}
